<div class="piece">
    <img src="{{this.images.0.url}}" onerror="this.src='/images/default-cover.png'; this.onerror=null; "alt="">
    <div class="piece-info">
        <p>{{this.name}}</p>
        <a href="/tracks/{{this.id}}">View Tracks</a>
    </div>
</div>