<div id="front-page">
    <div class="form-box">
        <form action="/artist-search" method="GET">
            <input name="artist" id="artist-search-input" class="artist-input" placeholder="Artist">
            <br>
            <div class="button-container">
                <button type="submit">Search for an Artist</button>
            </div>
        </form>
    </div>
</div>

